  <%- include('header') %>
  <body>
    <section class="section">
      <div class="container">
        <p class="subtitle">
          We stored users preferences <strong>Cool !</strong>
        </p>
        <% bots.forEach(function(bot){ %>
        <div class="card">
          <div class="card-content">
            <a href="https://www.facebook.com/profile.php?id=<%= bot.user.id%>">@<%= bot.user.first_name%></a>
            <nav class="breadcrumb" aria-label="breadcrumbs">
              <ul>
                <li><a href="#"><%= bot.preferences.section.title %></a></li>
                <li><a href="#"><%= bot.preferences.propertyType.title %></a></li>
                <li><a href="#"><%= bot.preferences.location.title %></a></li>
              </ul>
            </nav>
          </div>
        </div>
        <% }); %>
      </div>
    </section>
  </body>
</html>
